<div class="col pt-5 pb-5 mt-5">
    <h1 class="text-dark text-center ml-5 mr-5 bold">Ooops...!</h1>
    <div class="row justify-content-center mb-5">
        <h4 class="mt-2 text-info text-center bold">Page not found.</h4>
    </div>
    <div class="row justify-content-center mb-5">
        <div class="mb-5">
            <h6 class="mt-1 text-dark text-center">The page you are loocking for might have been removed or it's temporarily unavailable.</h6>
            <div class="row mt-4 justify-content-center">
                <a asp-action="Index" asp-controller="Home" class="btn btn-success">Home</a>
            </div>
        </div>
    </div>
</div>