@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="Shortcut Icon" href="~/images/logo/logo.ico" type="image/x-icon" />
    <title>@ViewData["Title"]</title>

    <link href="~/stylesheets/bootstrap.min.css" rel="stylesheet" />
    <link href="~/stylesheets/Shared/_Layout.min.css" rel="stylesheet" />
</head>

<body>
    <div class="col pt-5 pb-5 mt-5">
        <h1 class="text-dark text-center bold">Ooops...!</h1>
        <div class="row justify-content-center mb-5">
            <h4 class="mt-2 text-info text-center bold">Something went wrong here.</h4>
        </div>
        <div class="row justify-content-center mb-5">
            <h6 class="mb-5 mt-1 text-dark text-center">We're working on it and we'll get it fixed as soon as possible.</h6>
        </div>
    </div>

    <footer class="container footer__container">
        <div class="row footer__row_margin">
            <div class="col text-left small">
                © @System.DateTime.Now.Year Nuget Analyzer
            </div>
            <div class="col col-1 text-center">
                <a asp-action="Index" asp-controller="Home" class="footer__logo text-center">
                    <svg height="32" viewBox="0 0 16 16" version="1.1" width="32" aria-hidden="true">
                        <path xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" d="M8.06 2C3 2 0 8 0 8s3 6 8.06 6C13 14 16 8 16 8s-3-6-7.94-6zM8 12c-2.2 0-4-1.78-4-4 0-2.2 1.8-4 4-4 2.22 0 4 1.8 4 4 0 2.22-1.78 4-4 4zm2-4c0 1.11-.89 2-2 2-1.11 0-2-.89-2-2 0-1.11.89-2 2-2 1.11 0 2 .89 2 2z" />
                    </svg>
                </a>
            </div>
            <div class="col text-right small">
                <a asp-action="About" asp-controller="Home" class="text-primary navbar__link_text">
                    About
                </a>
                <a asp-action="About" asp-controller="Home" class="text-primary navbar__link_text footer__link_margin">
                    Contcts
                </a>
            </div>
        </div>
    </footer>

    <script src="~/scripts/jquery-3.4.0.min.js"></script>
    <script src="~/scripts/popper.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
</body>
</html>

