<link href="stylesheets/Home/Index.css" rel="stylesheet" />

<div class="container-fluid m-0 p-0">
    <div class="col pt-5 pb-5 bg-dark">
        <div class="col-6 ml-5">
            <h2 class="text-light">Built for developers</h2>
            <h5 class="mt-3 text-info">Nuget Analyzer allow you to check state of packages of .NET projects</h5>
        </div>
    </div>

    <div class="col pt-5 pb-5 mt-5">
        <h1 class="text-dark text-center ml-5 mr-5">A better way to work with NuGet packages</h1>
        <div class="row justify-content-center mt-5 mb-5">
            <div class="col-6 mt-5">
                <h4 class="mt-3 text-info text-center">Analyze of versions of NuGet packages became simple. We check all projects in repositories and inform about state of packages versions.</h4>
            </div>
        </div>
    </div>

    <div class="col pt-5 pb-5 sign__div_bg">
        <h2 class="text-light text-center ml-5 mr-5">Get started for free - join us using GitHub to control NuGet packages state.</h2>
        <div class="row mt-4 justify-content-center">
            <input type="submit" value="Sign up" class="btn btn-success" />
        </div>
    </div>
    <div class="col pt-4 pb-2">
        <h5 class="text-dark ml-5 mr-5 font-weight-bold">Nuget Analyzer</h5>
    </div>
</div>