th.nuget__svg {
    width: 20px;
    padding-right: 0;
    padding-left: 5px;

    svg {
        vertical-align: baseline;
        padding-right: 0;
        height: 20px;
        width: 20px;
    }
}

.notification__error svg {
    stroke-width: 2px;
    fill: red;
    width: 20px;
    height: 20px;
}

.notification__warning svg {
    fill: orange;
    width: 20px;
    height: 20px;
}

.notification__info svg {
    fill: blue;
    width: 20px;
    height: 20px;
}

.notification__clock svg {
    fill: grey;
    width: 20px;
    height: 20px;
}

.table {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.alert {
    margin: 0px;
    padding: 2px;
    text-align: center;
}
