@{
    ViewData["Title"] = Localizer["SourceChoice"];
    Layout = "_SignInLayout";
}

@section Styles {
    <link href="~/stylesheets/OAuthSignIn/SourceChoice.min.css" rel="stylesheet" />
}

<div class="row h-100 justify-content-center align-items-center">
    <a asp-controller="Home" asp-action="Index" class="mt-5 mb-4">
        <logo font-size="32"></logo>
    </a>
</div>
<div class="row justify-content-center align-items-center">
    <label>@Localizer["Choice"]</label>
</div>
<div class="row justify-content-center align-items-center">
    <div class="card border-secondary">
        <a asp-action="Login" asp-controller="GitHubAuth">
            <img class="source__control_source_image" src="~/images/GitHubLogo.png" />
        </a>
    </div>
</div>