@model NugetAnalyzer.BLL.Models.Profile
@{
    ViewData["Title"] = "UserCreationForm";
    Layout = "_SignInLayout";
}

<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="card border-secondary"></div>
        <form asp-controller="Account" asp-action="CreateUser" method="post" class="col-md-3">
            <input type="text" asp-for="GitHubId" hidden="hidden" />
            <input type="text" asp-for="GitHubUrl" hidden="hidden" />
            <input type="text" asp-for="AvatarUrl" hidden="hidden" />

            <h5>Sign up to Nuget Analyzer</h5>

            <div class="form-group">
                <label>UserName</label>
                <input type="text" asp-for="UserName" class="form-control" />

            </div>

            <div class="form-group">
                <label>Email</label>
                <input type="text" asp-for="Email" class="form-control" />
            </div>

            <input type="submit" value="Sign up for NugetAnalyzer" class="btn btn-success" />
        </form>
    </div>
</div>
