<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Info"
      internalLogFile="c:\temp\NugetAnalyzer.log">

  <targets>
    <target xsi:type="File"
            name="trace"
            fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} | ${uppercase:${level}}${newline}
                    Additional info:${message}${newline}" />

    <target xsi:type="File"
            name="error"
            fileName="${basedir}/logs/errors/${shortdate}.log"
            layout="${longdate} | ${uppercase:${level}}${newline}
                    Exception type:${exception:format=Type}${newline}      
                    Exception message:${exception:format=Message}${newline}      
                    Stack trace:${exception:format=Stack Trace}${newline}      
                    Additional info:${message}${newline}" />
  </targets>

  <rules>
    <logger name="*" maxlevel="Warn" writeTo="trace" />
    <logger name="*" minlevel="Error" writeTo="error" />
  </rules>
</nlog>